html, body /*Ñîçäàíèå òðåõ ïîñëåäîâàòåëüíûõ ýêðàíîâ*/
{ 
    height: 100%;
    margin: 0;
    padding: 0;
}

.Screens /*Îáùèå ñâîéñòâà ýêðàíîâ*/
{
    height: 100%;
}
.Screens:nth-of-type(1) /*Ïåðâûé ýêðàí ñ ìåíþ è òèòóëüíîé êàðòèíêîé*/
{
    display: flex;
    /*background-color: brown;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    background-image: url(Images/Screen_1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-direction: row;
}
.Screens:nth-of-type(2) 
{
    /*background-color: darkseagreen;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    background-image: url(Images/Screen_2.gif); /*àíèìàöèÿ äîñòèãàåòñÿ ïîñðåäñòâîì ãèô-ôàéëà â ôîíå*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Screens:nth-of-type(3) 
{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: lightseagreen;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    background-image: url(Images/Screen_3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#menu_back
{
    /*background-color: red;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    display: flex;
    height: 5vw;
    width: 99vw;
}
.logo
{
    /*background-color: violet;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    display: flex;
    font-size: 2vw;
    text-decoration: underline;
    border: 3px solid white;
    height: 5vw;
    width: 9vw;
    text-align: center;
}
.menu {
    display: flex;
    /*background-color: green;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    background-image: url(Images/Header.gif); /*àíèìàöèÿ ôîíà ìåíþ äîñòèãàåòñÿ çà ñ÷åò Ãèô-ôàéëà â ôîíå*/
    background-position: bottom;
    background-size: 100% auto;
    display: flex;
    width: 100%;
    justify-content: right;
}
.menu_button
{
    display: flex;
    font-size: 1.5vw;
    width: 9vw;
    margin: 25px 15px 5px 15px;
    border: 2px solid black; 
    justify-content: center;
    align-items: center;
    background-color: orange;
}

#big_frame 
{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    /*background-color: orange;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    /*opacity: 1;*/ /*òåñòîâàÿ ïðîçðà÷íîñòü ôîíîôîãî áëîêà*/
}
.text 
{
    display: flex;
    width: 50vw;
    height: 40vh;
    margin: 50px 30px;
    flex-direction: column;
    padding: 15px 20px;
    border: 2px solid white;
    color: white;
}
.brake_line
{
    text-align: center;
}
/*.text:nth-of-type(1) /* ñâîéñòâà êàæäîãî èç òåêñòîâûõ áëîêîâ äëÿ ìîíîêîëîðíîé îòëàäî÷íîé çàëèâêè */ /*
{
    background-color: yellow; 
}
.text:nth-of-type(2)
{
    background-color: greenyellow;
}*/

#gallery {
    display: flex;
    /*background-color: orange;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    width: 62vw;
    height: 34vw;
    /*border: 2px solid black;*/ /*îòëàäî÷íàÿ ðàìêà äëÿ ïîçèöèîíèðîâàíèÿ áëîêîâ ñ ôîòî*/
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}
.picture /*îáùèå ñâîéñòâà áëîêîâ ñ ôîòî*/
{
    display: flex;
    width: 20vw;
    height: 17vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 2px solid black;
}
.picture:nth-of-type(1) /*èíäèâèäóàëüíûå ñâîéñòâà êàæäîãî èç áëîêîâ ñ ôîòî*/
{
    background-image: url(Images/Picture_1.jpg);
}
.picture:nth-of-type(2)
{
    background-image: url(Images/Picture_2.jpg);
}
.picture:nth-of-type(3)
{
    background-image: url(Images/Picture_3.jpg);
}
.picture:nth-of-type(4)
{
    background-image: url(Images/Picture_4.jpg)
}
.picture:nth-of-type(5)
{
    background-image: url(Images/Picture_5.jpg)
}
.picture:nth-of-type(6)
{
    background-image: url(Images/Picture_6.jpg)
}
#footer /*ñâîéñòâà ôóòåðà*/
{
    background-color: grey;
    display: flex;
    height: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#columns_back /*ñâîéñòâà ôîíîâîãî áëîêà äëÿ áëîêîâ ñ "ïñåâäîññûëêàìè"*/
{
    /*background-color: red;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    width: 81vw;
    height: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columns /*ñâîéñòâà ôîíîâûõ áëîêîâ äëÿ áëîêîâ ñ "ïñåâäîññûëêàìè"*/
{
    /*background-color: green;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    /*border: 1px solid black;*/ /*îòëàäî÷íàÿ ðàìêà äëÿ ïîçèöèîíèðîâàíèÿ áëîêîâ ñ "ïñåâäîññûëêàìè*/
    margin: 1vw 1vw;
    display: flex;
    width: 26vw;
    flex-direction: column;
    justify-content: stretch;
}
.columns_rows /*ñâîéñòâà áëîêîâ ñ "ïñåâäîññûëêàìè"*/
{
    display: flex;
    /*background-color: green;*/ /*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    font-size: 2vw;
    text-decoration: underline;
    color: white;
    justify-content: center;
}
#footer_logo_back  /*ñâîéñòâà ôîíîâîãî áëîêà äëÿ áëîêà ñ çàêðûâàþùèì ëîãî*/
{
    display: flex;
    /*background-color: brown;*//*îòëàäî÷íàÿ ìîíîêîëîðíàÿ çàëèâêà*/
    width: 98vw;
    height: 10vw;
    justify-content: right;
    align-items: flex-end;
}
